# Rider
.idea/
*.sublime-workspace
*.sublime-project
User.db
/Migrations
appsettings.json
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/
target/
build/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime data
*.pid

# Compiled class files
*.class

# Packaging
*.jar
*.war
*.ear

# .NET
*.dll
*.exe
*.pdb
*.cache
*.config
*.dbmdl

# VS Code
.vscode/
